<a href="https://colab.research.google.com/github/CAROGALO21/tarea/blob/main/SEGUNDA_TAREA_EJERCICIOS_EN_COLAB_JENNIFER_MEJIA_CARLOS_GARCIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## EJERCICIOS EN PANDAS
## EJERCICIO # 1 (diccionario con las notas de los alumnos en curso en un examen y devuelva una serie con la nota mínima, la máxima, media y la desviación típica )
import pandas as pd
def estadistica_notas(notas):
    notas = pd.Series(notas)
    estadisticos = pd.Series([notas.min(), notas.max(), notas.mean(), notas.std()], index=['Min', 'Max', 'Media', 'Desviación típica'])
    return estadisticos
notas = {'Carlos Garcia':95, 'Jennifer Meija':89, 'Pablo Castro':90, 'Rafael Nodarse': 81, 'Milena Win': 98, 'CARLOS GRAJEDA': 99, 'MIRTA GRAJEDA': 93, 'GLENDA GARCIA': 98}
print(estadistica_notas(notas))
print (notas)

In [ ]:
## EJERCICIOS EN PANDAS
## EJERCICIO # 2 (notas de los alumnos aprobados ordenadas de mayor a menor)
import pandas as pd
def aprobados(NOTAS):
    NOTAS = pd.Series(NOTAS)
    return NOTAS[NOTAS >= 60].sort_values(ascending=False)
NOTAS = {'JOSE PEREZ':59,'CARLOS GARCIA':99, 'JENNIFER MEJIA':99, 'CARLOS GRAJEDA':89, 'PEDRO ALMODOBAR': 87, 'LUIS CRUZ': 78, 'MARIO CASTRO': 90, 'RAFAEL PINEDA': 68}
print(aprobados(NOTAS))

In [ ]:
## EJERCICIOS EN PANDAS
## EJERCICIO # 3 (DataFrame con los datos de la tabla siguiente:)
import pandas as pd
valores = {'MES':['ENERO', 'FEBRERO', 'MARZO', 'ABRIL'], "      " 'VENTAS':[30500, 35600, 28300, 33900]}
print ("---------------------------")
promedio = pd.DataFrame(valores)
print(promedio) 
print ("---------------------------")

**## TAREA # 4 CON TITANIC **

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
#Se agrega la clase train_test_split para dividir en los 2 set de datos, el de entrenamiento y el de test. 
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC 
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
## EJERCICIO # 4
## 1. GENERAR UN DATAFRAME CON LOS DATOS DEL FICHERO.
titanic = pd.read_csv("http://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv")
columnas = ["Sobrevivio", "Clase", "Nombre", "Sexo", "Edad", "Parientes", "Hijos", "Tarifa", ]
titanic.columns=columnas
titanic

In [ ]:
## 2. MOSTRAR POR PANTALLA LAS 10 PRIMERAS FILAS Y LAS ULTIMAS 10 FILAS.
print('Primeras 10 filas:\n', titanic.head(10))
print('Últimas 10 filas:\n', titanic.tail(10))

In [ ]:
## 3. MOSTRAR POR PANTALLA LOS DATOS DEL PASAJERO CON EL IDENTIFICADOR # 148
print(titanic.loc[148])

In [ ]:
## 4. MOSTRAR POR PANTALLA LAS FILAS PARES DEL DATAFRAME.
print(titanic.iloc[range(0,titanic.shape[0],2)])

In [ ]:
# 5. MOSTRAR POR PANTALLA LOS NOMBRES DE LAS PERSONAS QUE IBAN EN PRIMERA CLASE ORDENADAS ALFABETICAMENTE.
print(titanic.iloc[range(0,titanic.shape[0],2)])

In [ ]:
# 6. MOSTRAR POR PANTALLA EL PORCENTAJE DE PERSONAS QUE SOBREVIVIERON Y MURIERON
print(titanic[titanic["Clase"]==1]['Nombre'].sort_values())

In [ ]:
# 7. MOSTRAR POR PANTALLA EL PORCENTAJE DE PERSONAS QUE SOBREVIVIERON EN CADA CLASE.
print(titanic.groupby('Clase')['Sobrevivio'].value_counts(normalize=True))

In [ ]:
# 8. ELIMINAR DEL DATAFRAME LOS PASAJEROS CON EDAD DESCONOCIDA.
titanic = titanic[titanic['Edad'].notna()]

In [ ]:
# 9. MOSTRAR POR PANTALLA LA EDAD MEDIA DE LAS MUJERES QUE VIAJABAN EN CADA CLASE.
print(titanic.groupby(['Clase','Sexo'])['Edad'].mean().unstack()['female'])

In [ ]:
# 10. AÑADIR UNA NUEVA COLUMNA BOLEANA PARA VER SI EL PASAJERO ERA MENOR DE EDAD O NO.
titanic['Joven'] = titanic['Edad'] < 18

In [ ]:
# 11.	MOSTRAR POR PANTALLA EL PORCENTAJE DE MENORES Y MAYORES DE EDAD QUE SOBREVIVIERON EN CADA CLASE.
print(titanic.groupby(['Clase', 'Joven'])['Sobrevivio'].value_counts(normalize = True) * 100)

## EJERCICIO SEGUNDA PARTE " ARCHIVO JUGADORES "

In [ ]:
# 1Crear un nuevo dataframe llamado delanteros y realice el filtro de todos los delanteros (Forward) de todos los equipos.
import pandas as pd
import numpy as np
delanteros = pd.read_csv ('https://raw.githubusercontent.com/CAROGALO21/tarea/main/jugadores.csv', index_col=0)
delanteros.loc[delanteros['position'] == "Forward"[0:20]]

In [ ]:
# 2 Seleccione los jugadores con mas de 10 goles y solo las columnas ( team, player_name, position, todas las columnas que inicien con goals)
print(delanteros[delanteros["goals"]>10]['player_name'].sort_values())

In [ ]:
# 2 Las columnas que inicien con goals
print(delanteros[['goals', 'player_id', 'position']])

In [ ]:
# 3. Los jugadores que han anotado goles con la cabeza (goals_headed) y que so defensas (position= Defender
delanteros.sort_values(['goals_headed', 'position'], ascending=True)

In [ ]:
# 4 Guardar en un dataframe los jugadores que interceptions > 40
print(delanteros[delanteros["interceptions"]>40]['player_name'].sort_values())

In [ ]:
# 4 y recoveries > 100
print(delanteros[delanteros["recoveries"]>100]['player_name'].sort_values())

In [ ]:
# 5 Crear un dataframe que contenga dribbles_successful>=100 
delanteros[delanteros['dribbles_successful']>=100]['player_name'].sort_values()

In [ ]:
# 5 shots_total>=40
delanteros[delanteros['shots_total']>=40]['player_name'].sort_values()

In [ ]:
# DATAFRAME JUGADORES
delanteros = pd.DataFrame(delanteros)
delanteros.to_csv('jugadores.csv', header=False, index=False)
delanteros